certifi==2018.4.16
chardet==3.0.4
Django==2.0.7
django-cors-headers==2.3.0
djangorestframework==3.8.2
idna==2.7
numpy==1.14.5
oauthlib==2.1.0
pandas==0.23.3
psycopg2==2.7.5
PySocks==1.6.8
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
torch==0.4.0
torchtext==0.2.3
tqdm==4.23.4
tweepy==3.6.0
urllib3==1.23
