body {
    max-width: 100%;
    padding: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .suggestions-container {
    position: relative;
    margin: auto;
    max-width: 500px;
  }
  
  .suggestions-results {
    font-weight: 300;
    margin: 0;
    position: absolute;
    z-index: 10000001;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: white;
    padding: 0px;
  }
  
  .suggestions-results ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .suggestions-results .suggestions-results-item {
    cursor: pointer;
    padding: 15px;
  }
  
  .suggestions-results .suggestions-results-item:active,
  .suggestions-results .suggestions-results-item:hover,
  .suggestions-results .suggestions-results-item:focus {
    background-color: #ddd;
  }

  .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
  }