  body {
    max-width: 100%;
    min-height: 100vh;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
  }

  .suggestions {
    border-top-left-radius: 1.50em;
    border-top-right-radius: 1.50em;  
    max-width:500px;
    height: 490px !important;
    overflow: auto;
    overscroll-behavior: contain;
    font-weight: 300;
    font-family: 'Roboto Slab', sans-serif;    
  }

  .list-group-item:first-child {
    border-top-left-radius: 1.50em;
    border-top-right-radius: 1.50em;
  }

  .list-group-item-action {
    cursor: pointer;
  }
  
  .story, h1, h2, h3, h4 {
    font-family: 'Product Sans';
  }

  .form-control, .input-group {
    border-bottom-left-radius: 1.50em;
    border-bottom-right-radius: 1.50em;  
  }

  .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
  }

  #app {
    margin-top: 0 !important;
  }
  
  .btn-actions {
    color: rgb(190, 190, 190);
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 1.75em;
    width: 100%;
  }

  .btn-group {
    width: 500px;
  }

  #customWord {
    border: none;
    padding: .75rem 1.25rem;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto Slab', sans-serif;    
  }

  .customWord-wrapper {
    max-width: 500px;
  }

  .customWord{
    cursor: text !important;
    overflow: hidden;
  }

  .list-group-item.customWord {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.50em;
    border-bottom-right-radius: 1.50em;
  }

  .blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  .text-black-30 {
    color: rgba(0, 0, 0, 0.3) !important;
  }

  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: rgba(var(--color), 1);
    }
  }

  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: rgba(var(--color), 1);
    }
  }

  @font-face {
    font-family: 'Product Sans';
    src: url(Product\ Sans\ Regular.ttf);
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    /* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
    .list-group-item {
      padding: 1.5em;
    }
}

  ::placeholder {
    opacity: 0.5 !important;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .infinite-loading-container {
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid rgba(0, 0, 0, .125);
  }

  .main {
    min-height: 100vh;
  }

  .section-2 {
    min-height: 100vh;
    background-color: #000;
  }

  .lead {
    font-family: 'Roboto Slab';
    font-weight: 300;
  }

  .bg-dynamic {
    background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
    background-size: 300% 300%;
    animation: MoveBG 60s ease infinite;
  }

  @keyframes MoveBG {
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}