  body {
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
  }

  .suggestions-container {
    position: relative;
    margin: auto;
    max-width: 500px;
  }
  
  .suggestions-results {
    font-weight: 300;
    margin: 0;
    position: absolute;
    z-index: 10000001;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: white;
    padding: 0px;
  }
  
  .suggestions-results ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .suggestions-results .suggestions-results-item {
    cursor: pointer;
    padding: 15px;
  }
  
  .suggestions-results .suggestions-results-item:active,
  .suggestions-results .suggestions-results-item:hover,
  .suggestions-results .suggestions-results-item:focus {
    background-color: #ddd;
  }

  .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
  }

  .toggleOptions {
    color: #999;
    left: 0 !important;
    margin-left: 0 !important;
  }

  #app {
    margin-top: 0 !important;
  }

  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #999;
    font-family: "Segoe UI";
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent:0;
    padding: 20px;
  }
